<ion-view view-title="Agenda">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Détail pour l'évènement :
        </div>
        <select ng-model="selectedEvent" ng-change="changeEvent(selectedEvent)" ng-options="event as event.title for event in events"></select>
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="interv in intervenants" class="item item-thumbnail-left item-button-right" >
        <img src="{{interv.image}}">
        <h2>{{interv.name}}</h2>
        <p>{{interv.desc}} (lieu : {{interv.lieu}})</p>
        <p>Début : {{interv.deb}}</p>
        <p>Fin : {{interv.fin}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
